{% extends "layouts.html" %}
{% block content %}

    <div class="content-section">
        <div class="container">
            <div class="row-md">
                <div class="col-md">
                    <h1>Round <span id="round_number">1</span> of 4</h1>
                    <h5><span id="timer"></span></h5>
                    <form method="POST">
                        <button class="btn-theme btn-primary btn" id="next" title="next" href="#next">
                        Next Person
                        </button>
                    </form>

                </div>
            </div>
        </div>

    </div>
z
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        var round = 1;
        var maxRound = 4;
        $("#next").click(function() {
            if (round < maxRound){
                round += 1;
                document.getElementById('round_number').innerHTML = round.toString();
            }
            else{
                document.getElementById('reset').innerHTML = "Main";
                }
            }
        });

    </script>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script type="text/javascript">
        var apiKey = '{{ api_key }}';
        var sessionId = '{{ session_id }}';
        var token = '{{ token }}';
    </script>
    <script src="{{ url_for('static', filename='js/helloworld.js') }}"></script>
    <p>Round </p>
    {{ round_time }}
    {{ session_number }}
    <div id="publisher"></div>
    <div id="subscribers"></div>
{% endblock %}