{% extends "layouts.html" %}
{% block content %}
    <script type="text/javascript">
        setTimeout(function(){
            document.getElementById('div1').style.visibility = "visible";
        },4000);
        setTimeout(function(){
            document.getElementById('div2').style.visibility = "visible";
        },4500);
        setTimeout(function(){
            document.getElementById('div3').style.visibility = "visible";
        },5200);
    </script>


    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 content-section">
                <h1>Hey {{ name }}!</h1>
                <div class="row-md">
                    <h5>Your game session code is: {{ random_number }}</h5>
                </div>
            </div>
            <div class="col-6 col-md-6">
                <div class="content-section">
                    <h1>Players</h1>
                    <div class="row-md">
                        <h5>{{ name }}</h5>
                    </div>
                    <div class="row-md" id="div1" style="visibility:hidden;">
                        <h5>Jory Clements</h5>
                    </div>
                </div>
            </div>
        </div>


        <form method="POST" action="/">
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary btn-theme" href="{{ url_for('game', name=name, session_number=random_number) }}">Enter Game Room</a>
                <a type="button" class="btn btn-secondary btn-dark" href="{{ url_for('home') }}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}