{% extends "layouts.html" %}
{% block content %}
    <script type="text/javascript">
        setTimeout(function(){
            document.getElementById('div1').style.visibility = "visible";
        },4000);
        setTimeout(function(){
            document.getElementById('div2').style.visibility = "visible";
        },4500);
        setTimeout(function(){
            document.getElementById('div3').style.visibility = "visible";
        },5200);
    </script>
    <div class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="row">
                        <h1>Hey {{ name }}!</h1>
                    </div>
                    <div class="row">
                        <h5>Your game session code is: {{ random_number }}</h5>
                    </div>
                </div>


                <div class="col-md">
                    <div class="row">
                        <h1>Players</h1>
                    </div>
                    <div class="row">
                        <h5>{{ name }}</h5>
                    </div>
                    <div class="row" id="div1" style="visibility:hidden;">
                        <h5>John Doe</h5>
                    </div>
                    <div class="row"  id="div2" style="visibility:hidden">
                        <h5>Jane Smith</h5>
                    </div>
                    <div class="row" id="div3" style="visibility:hidden">
                        <h5>Andy Wright</h5>
                    </div>

                </div>
            </div>
        </div>

        <form method="POST" action="/">
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary btn-theme" href="{{ url_for('game', session=random_number, ) }}">Start Game</a>
                <a type="button" class="btn btn-secondary btn-dark" href="{{ url_for('home') }}">Go Back</a>
            </div>
        </form>
    </div>
{% endblock %}